.content{
    display: flex;
    background-color: white;
    overflow-y: hidden;
    position: relative;
    z-index: 0;
}

.post-wrapper{
    display: grid;
    width: 100%;
    align-items: baseline;
    overflow-y: scroll;
}

.add-post{
    display: flex;
    justify-content: center;
}

.new-post-block{
    display: grid;
    margin: 10px;
    padding: 10px;
    border-radius: 16px;
    border: 5px solid #1dacd0;
    background-color: #1dacd0;
}

.post-text{
    display: flex;
    align-self: center;
    color: black;
    font-family: Arial Black, sans-serif;
    text-align: center;
    font-size: medium;
    padding: 9px;
    height: 9em;
    width: 37em;
    text-decoration-line: none;
    border-radius: 10px 10px 10px 0;
}

.image{
    display: flex;
    background-color: white;
    width: 100%;
    margin: 2px;
    border-color: #1dacd0;
    height: 2.5em;
}

.friends{
    display: grid;
    width: 30%;
    border-right: 2px solid #1dacd0;
}


.custom-button{
    display: flex;
    background-color: #1c0779;
    border-color: #1dacd0;
    align-self: center;
    align-content: center;
    border-radius: 0 0px 10px 10px;
}


.text{
    font-family: Arial Black, sans-serif;
    color: white;
    align-self: center;
    padding: 10px;
}

.dd-image{
    display: flex;
    flex-wrap: wrap;
    background-color: #1dacd0;
    align-content: center;
    justify-content: space-between;
}

.add-image-icon{
    width: 2em;
}

.post-img{
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    color: #1c0779;
}

.custom-file-input input[type="file"] {
    display: none;
}
  
.custom-file-input .custom-button {
   display: flex;
   width: 100%;
}

.upload-button{
    display: flex;
    background-color: #1253a2;
    border-radius: 50px;
    border-color: white;
}

.feed{
    display: grid;
}
