.post {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 60%;
    margin-bottom: 10px;
    position: relative;
    top: 15px;
    justify-self: center;
    height: fit-content;
}
              
.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
              
.post-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
              
.post-info {
    display: flex;
    flex-direction: column;
}
              
.username {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
              
.post-content {
    margin-bottom: 10px;
}
              
.post-content p {
    margin: 0;
}
              
.post-content img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
              
.post-footer {
    display: flex;
    justify-content: space-between;
}
              
.post-footer button {
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
    background-color: #1253a2;
    color: #fff;
    font-size: 14px;
    height: 100%;
    align-self: center;
    cursor: pointer;
}
              
.post-footer button:hover {
    background-color: #1dacd0;
}
         
.likes{
    display: flex;
    align-items: center;
}           
       
a{
    text-decoration: none;
    color: black;
}
              
              