body{
    margin: 0;
    padding: 0;
    border: none;
    overflow-y: hidden;
}

.header{
    display: flex;
    width: 100%;
    height: 5vw;
    background-color: #091c22;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.back-arrow{
    display: flex;
    width: 1.5em;
    position: relative;
    left: 20px;
}

.back-arrow-img{
    width: 100%;
    height: 100%;
}

h1{
    color: white;
    text-align: center;
    align-self: center;
    position: relative;
    left: 30px;
}

.wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.shortcuts-icon{
    display: flex;
    margin: 4px;
    margin-right: 10px;
    margin-left: 2px;
}

.icon{
    width: 100%;
    height: 100%;
}

.settings-container{
    display: flex;
    height: 2em;
    align-self: center;
    position: relative;
    right: 15px;
}

.settings-button{
    background-color: transparent;
    display: contents;
    border: none;
}

.dropdown-menu{
    height: 8vw;
    width: 14vw;
    position: absolute;
    background-color: white;
    padding: 0.75rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    z-index: 5;
}

.dropdown-links{
    font-family: "Arial", serif;
    text-decoration-line: none;
    color: black;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: -.03em;
    line-height: 1.13;
}

.header-nav{
    display: flex;
    position: absolute;
    flex-direction: column;
    background: white;
    color: black;
    padding-left: 0;
    text-align: left;
    width: 90%;
}

ul {
    list-style-type: none;
}

.content{
    display: flex;
    overflow-y: hidden;
}

.left{
    display: grid;
    width: 25%;
    background-color:#b5f0ff;
    overflow-y: hidden;
    justify-content: center;
    align-items: baseline;
}

.posts{
    width: 75%;
    display: grid;
    overflow-y: scroll;
}

.profile-img-container{
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: fit-content;
    border-bottom: 2px solid #1253a2;
}

.profile-img {
    width: 250px;
    margin-top: 15px;
    height: 200px;
    position: relative;
    overflow: hidden;
}
  
  .profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
     left: 0;
  }

  .nickname{
    justify-self: center;
    margin: 0px;
  }
  
  .container{
    width: 100%;
    display: grid;
    justify-content: center;
  }

  .bio{
    display: flex;
    justify-content: center;
  }

  .other{
    display: flex;
    justify-self: center;
  }