body{
    margin: 0;
    padding: 0;
    border: none;
    background-color: #85acdb;
}

.header{
    display: flex;
    width: 100%;
    height: 6vw;
    background-color: #091c22;
    align-content: center;
    justify-content: center;
}

.text{
    color: white;
    font-family: Arial, sans-serif;
    align-self: center;
}

.wrapper{
    display: flex;
    align-content: center;
    align-self: center;
    justify-content: space-between;
    height: 5vw;
    width: 90%;
}

.signup-wrapper{
    display: grid;
    align-content: center;
}

.signup-label{
    display: flex;
}

.login-button{
    display: flex;
    background-color: #1253a2;
    border-radius: 15px;
    height: 3vw;
    border-color: #1dacd0;
    align-self: center;
}

.login-button:hover{
    background-color: #1dacd0;
}

.button-text{
    display: flex;
    align-self: center;
    color: white;
    font-family: Arial Black, sans-serif;
    text-align: center;
    font-size: medium;
    padding: 9px;
    text-decoration-line: none;
}

.hi-wrapper{
    display: flex;
    align-content: center;
    align-self: center;
}

.logo{
    display: flex;
    height: 5vw;
    align-self: center;
}

.content{
    display: flex;
    justify-content: center;
}

.signup-wrapper{
    display: grid;
    width: fit-content;
    align-self: center;
}


.input-text{
    background-color: white;
    width: 22em;
    margin: 2px;
    border-color: #1dacd0;
    height: 2.5em;
}

#signup-text{
    margin: 0;
}

#login-button{
    width: 100%;
    justify-content: center;
    height: 4vw;
}

.button{
    display: flex;
    align-items: center;
    width: 100%;
}