{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Djangobook</title>
    <link href="{%static 'css\header.css' %}" rel="stylesheet" type="text/css">
    <link href="{%static 'css\index-content.css' %}" rel="stylesheet" type="text/css">
    <link href="{%static 'css\post.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{%static 'js/main.js' %}"></script>
</head>

<body>
    <header class="header">
        <div class="header-wrapper">
            <div class="logo">
                <a href="/"><img src="{%static 'img/logo.png' %}" class="logo-img" alt="logo-img"></a>
            </div>
            <form action="search/" method="POST" class="form">
                {% csrf_token %}
                <div class="search-bar">
                    <div class="input-container">
                        <label class="input-text">
                            <input type="text" name="username" placeholder="Search on Djangobook" class="input-text">
                            <button type="submit" class="search-button">Search</button>
                        </label>
                    </div>
                </div>
            </form>
            
            <div class="shortcuts">
                <div class="shortcuts-icon">
                    <a href="profile/{{user_profile.user.username}}/">
                        <img src="{%static 'img/profile-icon.png' %}" class="icon" alt="profile-icon">
                    </a>
                </div>
                <div class="shortcuts-icon">
                    <a href="{%static 'index.html' %}">
                        <img src="{%static 'img/messages-icon.png' %}" class="icon" alt="messages-icon">
                    </a>
                </div>
                <div class="shortcuts-icon">
                    <a href="{%static 'index.html' %}">
                        <img src="{%static 'img/notifications-icon.png' %}" class="icon" alt="notifications-icon">
                    </a>
                </div>
                <div class="shortcuts-icon" dropdown>
                    <button class="settings-button" dropdown-button>
                        <img src="{%static 'img/settings-icon.png' %}" class="icon" alt="settings-icon" dropdown-button>
                    </button>
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="dropdown-menu">
            <nav>
                <ul class="header-nav">
                    <li><a class="dropdown-links" href="settings">Account Settings</a></li>
                    <li><a class="dropdown-links" href="{%static 'index.html' %}">Help</a></li>
                    <li><a class="dropdown-links" href="logout">Log out</a></li>
                </ul>
            </nav>
        </div>
        <div class="post-wrapper">
            <div class="add-post">
                <form action="upload" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="new-post-block" dd>
                    <textarea class="post-text" placeholder="What's new" name="caption"></textarea>
                    <div class="dd-image">
                        <div class="custom-file-input">
                            <input type="file" id="file-input" name="image_upload"/>
                            <label for="file-input" class="custom-button">
                                <span class="text">Add photo</span>
                            </label>
                        </div>
                        <button class="upload-button">
                            <span class="text">Upload</span>
                        </button>
                    </div>
                </div>
                </form>
            </div>
            <div class="feed">
                {% for post in posts reversed %}
                <div class="post">
                    <div class="post-header">
                        <div class="post-info">
                            <h3 class="username"><a href="profile/{{post.user}}/">@{{post.user}}</a></h3>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>{{post.caption}}</p>
                        {% if post.image %}
                        <img src="{{ post.image.url }}" alt="post-img">
                        {% endif %}
                    </div>
                    <div class="post-footer">
                        <div class="likes">
                            <a href="/like?post_id={{post.id}}">
                                <button class="like-button">
                                    <span class="like-text">
                                        Like
                                    </span>
                                </button>
                            </a>
                            {% if post.likes == 0 %} 
                                <p>No likes</p>
                            {% elif post.likes == 1 %}
                                <p>Liked by 1 person</p>
                            {% else %}
                                <p>Liked by {{ post.likes }} people</p>
                            {% endif %}
                        </div>
                        <button class="comment-button">Comment</button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
