{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Djangobook-login</title>
  <link href="{%static 'css/signup.css' %}" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="{%static 'js/main.js' %}"></script>
</head>
<body>
  <header class="header">
    <div class="wrapper">
        <div class="hi-wrapper">
            <h1 class="text">Welcome to</h1>
            <img src="{%static 'img/logo.png' %}" class="logo" alt="logo">
        </div>
        <button class="login-button">
            <a href="/signup" class="button-text">Sign Up</a>
        </button>
    </div>
</header>
  <div class="content">
    <div class="signup-wrapper">
      <h1 class="text" id="signup-text">Log In</h1>

      <div>
        <style>
            h5{
                color: black;
            }
        </style>
        {% for message in messages %}
        <h5>{{message}}</h5>
        {% endfor %}
    </div>

      <form class="signup-wrapper" action=" " method="POST">
        {% csrf_token %}
        <label class="signup-label">
          <input type="text" name="username" placeholder="Username" class="input-text">
        </label>
        <label class="signup-label">
          <input type="password" name="password" placeholder="Password" class="input-text">
        </label>
        <div class="buttonl">
          <button class="login-button" id="login-button">
            <span class="button-text">Login</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>